body, html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #DCDCDC;

}

.sidemenu{
  align-self: left;
  width: 220px;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  background-color: #202020;
  color: grey;
  height: 100%;
}
